<section class="calcSite">
	<div class="block">
		<div class="desc-block">
			Выберите тип сайта
		</div>
		<div class="main-block">
			<div class="li">
				<input type="radio" id="type-radio-1" name="type-radio" value="3000" data-num="2,6,8" data-discount="0" checked>
				<label for="type-radio-1">Визитка 3000 р.</label>
			</div>
			<div class="li">
				<input type="radio" id="type-radio-2" name="type-radio" value="13000" data-num="2,4,6,8" data-discount="0">
				<label for="type-radio-2">Бизнес 13000 р.</label>
			</div>
			<div class="li">
				<input type="radio" id="type-radio-3" name="type-radio" value="17000" data-num="2,5,6,8" data-discount="0">
				<label for="type-radio-3">Интернет-магазин 17000 р.</label>
			</div>
			<div class="li">
				<input type="radio" id="type-radio-4" name="type-radio" value="30000" data-num="2,3,6,8" data-discount="0">
				<label for="type-radio-4">Корпоративный 30000 р.</label>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="desc-block">
			Дизайн
		</div>
		<div class="main-block">
			<div class="li">
				<input type="checkbox" name="design" id="design-0" value="0" data-discount="0">
				<label for="design-0">Готовый дизайн сайта из каталога 0 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="design" id="design-1" value="15000" data-discount="0">
				<label for="design-1">Разработать логотип 15000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="design" id="design-2" value="10000" data-discount="0">
				<label for="design-2">Эксклюзивный дизайн 10000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="design" id="design-3" value="5000" data-discount="0">
				<label for="design-3">Адаптивный дизайн сайта 5000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="design" id="design-4" value="3000" data-discount="0">
				<label for="design-4">Простая анимация 3000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="design" id="design-5" value="5000" data-discount="0">
				<label for="design-5">Сложная анимация 5000 р.</label>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="desc-block">
			Функциональность сайта
		</div>
		<div class="main-block">
			<div class="li">
				<input type="checkbox" name="func-site" id="func-site-1" value="1000" data-discount="0">
				<label for="func-site-1">Новости 1000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-site" id="func-site-2" value="500" data-discount="0">
				<label for="func-site-2">Комментарии 500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-site" id="func-site-3" value="1000" data-discount="0">
				<label for="func-site-3">Регистрация пользователей 1000 р.</label>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="desc-block">
			Функциональность бизнес портала
		</div>
		<div class="main-block">
			<div class="li">
				<input type="checkbox" name="func-port" id="func-port-1" value="2500" data-discount="0">
				<label for="func-port-1">Калькулятор 2500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-port" id="func-port-2" value="1000" data-discount="0">
				<label for="func-port-2">Поиск по сайту 1000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-port" id="func-port-3" value="1000" data-discount="0">
				<label for="func-port-3">Регистрация пользователей 1000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-port" id="func-port-4" value="500" data-discount="0">
				<label for="func-port-4">Личный кабинет 500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-port" id="func-port-5" value="5000" data-discount="0">
				<label for="func-port-5">Веб-чат 5000 р.</label>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="desc-block">
			Функциональность интернет-магазина
		</div>
		<div class="main-block">
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-1" value="1000" data-discount="0">
				<label for="func-magaz-1">Регистрация пользователей 1000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-2" value="1500" data-discount="0">
				<label for="func-magaz-2">Поиск по сайту 1500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-3" value="1000" data-discount="0">
				<label for="func-magaz-3">Корзина товаров 1000 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-4" value="2500" data-discount="0">
				<label for="func-magaz-4">Фильтр товаров 2500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-5" value="1500" data-discount="0">
				<label for="func-magaz-5">Слайд-шоу 1500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-6" value="1500" data-discount="0">
				<label for="func-magaz-6">Гостевая книга 1500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-7" value="2500" data-discount="0">
				<label for="func-magaz-7">Калькулятор 2500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-8" value="500" data-discount="0">
				<label for="func-magaz-8">Личный кабинет 500 р.</label>
			</div>
			<div class="li">
				<input type="checkbox" name="func-magaz" id="func-magaz-9" value="5000" data-discount="0">
				<label for="func-magaz-9">Онлайн-консультант 5000 р.</label>
			</div>
		</div>
	</div>
<!--
	<div class="block">
    {{ blocks.headerText }}
    <div class="block" ng-repeat="block in blocks">
      <div class="desc-block">
    	{{ block.headerText }}
      </div>
      <div class="main-block">
        <div class="li" ng-repeat="line in block.lines">
          <input type="{{ line.inputType }}" id="{{ line.inputId + $index }}" name="{{ line.inputName }}" value="{{ line.value }}" data-num="{{ line.showBlocks }}" data-discount="{{ line.discount }}">
          <label for="{{ line.inputId + $index }}">{{ line.labelText + line.value}} р.</label>
        </div>
      </div>
    </div>
  </div>
-->
	<div class="block">
		<div class="desc-block">
			Поддержка сайта
		</div>
		<div class="main-block">
			<div class="li">
				<input type="radio" name="case" id="case-1" value="3000" data-discount="0" data-num="0">
				<label for="case-1">Базовый 3000р./мес.</label>
			</div>
			<div class="li">
				<input type="radio" name="case" id="case-2" value="8000" data-discount="0" data-num="1">
				<label for="case-2">Стандартный 8000р./мес.</label>
			</div>
			<div class="li">
				<input type="radio" name="case" id="case-3" value="12000" data-discount="0" data-num="2">
				<label for="case-3">Бизнес 12000р./мес.</label>
			</div>
			<div class="desc-help">
				<ul>
					<li>
						Консультации по вопросам работы сайта
					</li>
					<li>
						Контроль за работоспособностью сайта
					</li>
					<li>
						Оперативное устранение ошибок и технических сбоев
					</li>
					<li>
						Резервное копирование сайта и базы данных – 1 раз в месяц
					</li>
					<li>
						Контроль срока делегирования домена и оплаты хостинга
					</li>
				</ul>
			</div>
			<div class="desc-help">
				<ul>
					<li>
						Консультации по вопросам работы сайта
					</li>
					<li>
						Контроль за работоспособностью сайта
					</li>
					<li>
						Оперативное устранение ошибок и технических сбоев
					</li>
					<li>
						Резервное копирование сайта и базы данных – 1 раз в 2 недели
					</li>
					<li>
						Контроль срока делегирования домена и оплаты хостинга
					</li>
					<li>
						Контакт с хостинг-провайдером от имени владельца сайта
					</li>
					<li>
						Управление почтовым сервисом, помощь в настройка
					</li>
					<li>
						Перенос сайта на другой хостниг(не более одного раза в 6 месяцев)
					</li>
					<li>
						Изменение контента( Информация о компании,услугах и тд) не более 1 раза в неделю
					</li>
					<li>
						Обновление модулей
					</li>
					<li>
						Изменение функциональных возможностей сайта(добавление модулей...)
					</li>
				</ul>
			</div>
			<div class="desc-help">
				<ul>
					<li>
						Консультации по вопросам работы сайта
					</li>
					<li>
						Контроль за работоспособностью сайта
					</li>
					<li>
						Оперативное устранение ошибок и технических сбоев
					</li>
					<li>
						Резервное копирование сайта и базы данных – 1 раз в неделю
					</li>
					<li>
						Контроль срока делегирования домена и оплаты хостинга
					</li>
					<li>
						Контакт с хостинг-провайдером от имени владельца сайта
					</li>
					<li>
						Управление почтовым сервисом, помощь в настройка
					</li>
					<li>
						Перенос сайта на другой хостниг(не более одного раза в 3 месяцев)
					</li>
					<li>
						Изменение контента( Информация о компании,услугах и тд)
					</li>
					<li>
						Обновление модулей
					</li>
					<li>
						Изменение функциональных возможностей сайта(добавление модулей...)
					</li>
					<li>
						Добавление и изменение разделов сайта
					</li>
					<li>
						Изменение графических элементов дизайна сайта
					</li>
					<li>
						Размещение и оптимизация графических изображений
					</li>
					<li>
						Мониторинг посещаемости сайта и предоставление отчета
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="block">
		<div class="desc-block"></div>
		<div class="main-block">
			<div class="sum">Без скидки: <span></span></div>
			<div class="sum">Сумма скидки: <span></span></div>
			<div class="sum">Итого: <span></span></div>
		</div>
	</div>
	<div class="block last">
		<button id="calculate" class="calculate">Рассчитать</button>
	</div>
</section>