@blue: #2371d2;
@orange: #ff5722;
@gray: #888;

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

.video-line {
	position: relative;
	width: 100%;
	margin-top: 90px;
	
	> video {
		width: 100%;
	}
	
	.made-by {
		position: absolute;
		display: block;
		bottom: 5px;
		right: 5px;
		text-transform: capitalize;
		font-size: 14px;
		color: @gray;
		font-weight: 300;
	}
}

.flexible-menu {
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.item {
	position: relative;
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 10px;
	border: 4px solid @orange;
	color: #fff;
	transition: background-color .4s;
	
	&:hover {
		background: @orange;
		> span {
			color: #fff;
		}
		> .sites-btn-img {
			fill: #fff;
		}
	}
	&:nth-of-type(2) {
		animation-delay: .2s;
	}
	&:nth-of-type(3) {
		animation-delay: .4s;
		.sites-btn-img {
			width: 70px !important;
		}
	}
	&:nth-of-type(4) {
		animation-delay: .6s;
		.sites-btn-img {
			width: 70px !important;
		}
	}
	
	span {
		position: absolute;
		height: 96px;
		bottom: 0;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		color: @orange;
		transition: color .4s;
	}
}

.sites-btn-img {
	width: 80px;
	height: 80px;
	margin: 20px auto;
	fill: @orange;
	transition: fill .4s;
}

.logo {
	margin-top: -275px;
}

.logo img {
	display: block;
	width: 220px;
	margin: 161px auto 20px;
}

.content-page {
	min-width: 900px;
	max-width: 1100px;
	margin: 110px auto 0;
	z-index: 1;
	
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}